* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
header {
  padding: 2px;
  margin: 0px;
  background-color: rgb(50, 140, 193);
  text-align: center;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}
